
@model IEnumerable<NorthwindApp.Models.Customer>


<h2>Customers in Germany</h2>
<table>
    <thead>
        <tr>
            <th>Contact Name</th>
            <th>Company Name</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.ContactName</td>
                <td>@customer.CompanyName</td>
                <td>@customer.City</td>
            </tr>
        }
    </tbody>
</table>
