﻿﻿@model Question1.Models.Customer

<h2>Customer Details</h2>

<table class="table">
    <tr>
        <th>Customer ID</th>
        <td>@Model.CustomerID</td>
    </tr>
    <tr>
        <th>Company Name</th>
        <td>@Model.CompanyName</td>
    </tr>
    <tr>
        <th>Contact Name</th>
        <td>@Model.ContactName</td>
    </tr>
    <tr>
        <th>Country</th>
        <td>@Model.Country</td>
    </tr>
</table>

